body{
    margin: 0;
    padding: 0;
}
.topbar{
    color: white;
    font-weight: 600;
    height: 40px;
    text-align: center;
    align-items: cente;
    font-size: 13px;
    /* border: 2px solid red; */
    background-color: black;
    position: sticky;
    top: 1px;
}
.learn{
    color: white;
    font-weight: 600;
}
.nav-item{
    font-size: 12px;
    font-weight: 600;
    color: black;
}
.section-1{
    background: url(./Assests/Homepage-Model-3-Desktop-LHD.avif);
    height: 650px;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-top: 45px;
}
.section-2{
    background-image: url(./Assests/Homepage-Model-3-Desktop-LHD.avif);
    
}
.section-3{
    background-image: url(./Assests/Homepage-Model-Y-Global-Desktop.avif);
}
.section-4{
    background-image: url(./Assests/Homepage-Model-3-Desktop-LHD.avif);
}
.section-5{
    background-image: url(./Assests/Homepage-Model-X-Desktop-LHD.avif);
}
.section-6{
    background-image: url(./Assests/425_HP_SolarPanels_D.avif);
}
.section-7{
    background-image: url(./Assests/Homepage-SolarRoof-Desktop-Global.avif);
}
.section-8{
    background-image: url(./Assests/Desktop_Accessories.avif);
}
.text-1{
    color: black;
    text-align: center;
    font-size: 35px;
    font-weight: 500;
    padding-top: 30px;
}
.text-2{
    margin-top: -16px;
    font-size: 12px;
    font-weight: 400;
}
.text-3{
    font-size: 13px;
    margin-top: 14px;
    font-weight: 400;
}
.anchor{
    text-align: center;
}
.anchor-1{
    font-size: 12px;
    color: black;
}
.button{
    text-align: center;
    margin-top: 400px;
    width: 200px;
}
.nav-con{
    position: fixed;
    width: 100%;
    top: 12px;
}
.button-1, .button-2{
    margin: 5px;
    text-align: center;
    margin-top: 370px;
    width: 200px;
    height: 30px;
    font-size: 12px;
    font-weight: 500;
    border: none;
    border-radius: 7px;
    box-shadow: 1px 1px 1px 1px rgb(241, 241, 241);
}
.button-2{
    background-color: black;
    color: white;
}
.bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.bottom-1{
   list-style-type: none;
}
.bottom-2{
    text-decoration: none;
    color: rgb(90, 90, 90);
    font-size: 10px;
    font-weight: 500;
}