body{
    margin: 0;
    padding: 0;
}
.topbar{
    color: white;
    font-weight: 600;
    height: 40px;
    text-align: center;
    align-items: cente;
    font-size: 13px;
    /* border: 2px solid red; */
    background-color: black;
    position: sticky;
    top: 1px;
}
.learn{
    color: white;
    font-weight: 600;
}
.nav-item{
    font-size: 12px;
}
.section-1{
    background-image: url(./Assests/Model-S-Main-Hero-Desktop-LHD.avif);
    height: 630px;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-top: 45px;
}
.text-1{
    color: black;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    padding-top: 20px;
}
.button{
    text-align: center;
    margin-top: 20px;
    width: 200px;
}
.nav-con{
    position: absolute;
    width: 100%;
}
.p1{
    margin-top: 350px;
}
.parent{
    display: flex;
    justify-content: center;
}
.child{
    list-style: none;
    color: white;
    margin-right: 50px;
}
.section-2{
    height: 150px;
    width: 100%;
    background-color: black;
    /* box-shadow: 5px 5px 5px px black; */
}
.text-2{
    color: white;
    font-size: 28px;
    text-align: center;
    padding-top: 50px;
    font-size: 500;
}
.section-3{
    background-image: url(./Assests/Model-S-Interior-Hero-Desktop-LHD\ \(1\).avif);
    height: 630px;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-top: 45px;
}
.parent-1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding-top: 100px;
    gap: 100px;
}
.child-3{
    color: white;
    /* margin-left: 120px; */
    margin-right: 230px;
    /* border: 2px solid red; */
}
.child-2{
    margin-left: 120px;
}
.parent-2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin-top: -20px;
    gap: 100px;
}
.child-1{
    color: white;
    margin-left: 120px;
    padding-right: 120px;
}
.child-4{
    margin-right: 120px;
}